* html .u0_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="passo-3.1-solicita-cpf-produtor_files/u0_line.png");
}

* html .u1_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="passo-3.1-solicita-cpf-produtor_files/u1_original.png");
}

* html .u3_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="passo-3.1-solicita-cpf-produtor_files/u1_original.png");
}

* html .u5_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="passo-3.1-solicita-cpf-produtor_files/u5_original.png");
}

* html .u7_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="passo-3.1-solicita-cpf-produtor_files/u1_original.png");
}

* html .u14_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="passo-3.1-solicita-cpf-produtor_files/u14_line.png");
}

* html .u15_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="passo-3.1-solicita-cpf-produtor_files/u15_line.png");
}

* html .u16_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="passo-3.1-solicita-cpf-produtor_files/u16_line.png");
}

* html .u17_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="passo-3.1-solicita-cpf-produtor_files/u1_original.png");
}

* html .u20_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="passo-3.1-solicita-cpf-produtor_files/u20_line.png");
}

* html .u26_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header-curta-metragem_files/u88_line.png");
}

* html .u29_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="passo-3.1-solicita-cpf-produtor_files/u29_original.png");
}

* html .u34_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="footer_files/u34_line.png");
}

* html .u37_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="passo-3.1-solicita-cpf-produtor_files/u37_original.png");
}

* html .u39_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="passo-3.1-solicita-cpf-produtor_files/u39_original.png");
}

