body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u1_original {
    background-image: url('../passo-3-dados-produtor_files/u1_original.png');
}

.u1_container {
    position:absolute;
    left:0px;
    top:0px;
    width:690px;
    height:380px;
}

#u1_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:696px;
    height:386px;
}

.u2 {
    position:absolute;
    left:2px;
    top:182px;
    width:686px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u1 {
    position:absolute;
    left:0px;
    top:0px;
    width:690px;
    height:380px
}

.u3_original {
    background-image: url('../passo-3-dados-produtor_files/u3_original.png');
}

.u3_container {
    position:absolute;
    left:5px;
    top:40px;
    width:680px;
    height:86px;
}

#u3_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:686px;
    height:92px;
}

.u4 {
    position:absolute;
    left:2px;
    top:35px;
    width:676px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3 {
    position:absolute;
    left:5px;
    top:40px;
    width:680px;
    height:86px
}

.u5_original {
    background-image: url('../passo-3-dados-produtor_files/u5_original.png');
}

.u5_container {
    position:absolute;
    left:610px;
    top:353px;
    width:70px;
    height:20px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:26px;
}

.u6 {
    position:absolute;
    left:2px;
    top:4px;
    width:66px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:610px;
    top:353px;
    width:70px;
    height:20px
}

.u7_original {
    background-image: url('../passo-3-dados-produtor_files/u5_original.png');
}

.u7_container {
    position:absolute;
    left:10px;
    top:353px;
    width:70px;
    height:20px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:26px;
}

.u8 {
    position:absolute;
    left:2px;
    top:4px;
    width:66px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:10px;
    top:353px;
    width:70px;
    height:20px
}

.u9 {
    position:absolute;
    left:540px;
    top:106px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_original {
    background-image: url('../passo-3-dados-produtor_files/u10_original.png');
}

.u10_container {
    position:absolute;
    left:5px;
    top:130px;
    width:680px;
    height:86px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:686px;
    height:92px;
}

.u11 {
    position:absolute;
    left:2px;
    top:35px;
    width:676px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:5px;
    top:130px;
    width:680px;
    height:86px
}

.u12_original {
    background-image: url('../passo-3-dados-produtor_files/u3_original.png');
}

.u12_container {
    position:absolute;
    left:5px;
    top:223px;
    width:680px;
    height:86px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:686px;
    height:92px;
}

.u13 {
    position:absolute;
    left:2px;
    top:35px;
    width:676px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:5px;
    top:223px;
    width:680px;
    height:86px
}

.u14_text {
    position:absolute;
    left:540px;
    top:195px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:540px;
    top:195px;
    width:100px;
    height:16px
}

.u15_text {
    position:absolute;
    left:540px;
    top:105px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:540px;
    top:105px;
    width:100px;
    height:16px
}

.u16 {
    position:absolute;
    left:10px;
    top:10px;
    width:340px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_line {
    background-image: url('../footer_files/u34_line.png');
}

.u17_line {
    position:absolute;
    left:0px;
    top:395px;
    width:690px;
    height:3px;
}

.u17 {
    position:absolute;
    left:0px;
    top:395px;
    width:690px;
    height:3px
}

.u18 {
    position:absolute;
    left:81px;
    top:415px;
    width:480px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:70px;
    top:327px;
    width:300px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:380px;
    top:328px;
    width:90px;
    height:15px;
    ;
    ;
    text-align: center;;
    font-family:'Verdana';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u22 {
    position:absolute;
    left:62px;
    top:67px;
    width:370px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Verdana';
    font-size: 13px;
    color:#666666;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u23 {
    position:absolute;
    left:63px;
    top:97px;
    width:70px;
    height:22px;
    ;
    ;
    ;
    font-family:'Verdana';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u24 {
    position:absolute;
    left:143px;
    top:97px;
    width:90px;
    height:22px;
    ;
    ;
    ;
    font-family:'Verdana';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u25 {
    position:absolute;
    left:243px;
    top:98px;
    width:90px;
    height:22px;
    ;
    ;
    ;
    font-family:'Verdana';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u26 {
    position:absolute;
    left:440px;
    top:66px;
    width:65px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Verdana';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u27 {
    position:absolute;
    left:62px;
    top:50px;
    width:190px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:424px;
    top:50px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:595px;
    top:77px;
    width:99px;
    height:20px;
    ;
    ;
    text-align: center;;
    font-family:'Verdana';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u30_original {
    background-image: url('../resources/images/transparent.gif');
}

.u30_container {
    position:absolute;
    left:553px;
    top:50px;
    width:180px;
    height:20px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:26px;
}

.u31 {
    position:absolute;
    left:2px;
    top:2px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:553px;
    top:50px;
    width:180px;
    height:20px
}

.u33 {
    position:absolute;
    left:60px;
    top:157px;
    width:370px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Verdana';
    font-size: 13px;
    color:#666666;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u34 {
    position:absolute;
    left:61px;
    top:187px;
    width:70px;
    height:22px;
    ;
    ;
    ;
    font-family:'Verdana';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u35 {
    position:absolute;
    left:141px;
    top:187px;
    width:90px;
    height:22px;
    ;
    ;
    ;
    font-family:'Verdana';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u36 {
    position:absolute;
    left:241px;
    top:188px;
    width:90px;
    height:22px;
    ;
    ;
    ;
    font-family:'Verdana';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u37 {
    position:absolute;
    left:438px;
    top:156px;
    width:65px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Verdana';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u38 {
    position:absolute;
    left:60px;
    top:140px;
    width:190px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:422px;
    top:140px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:593px;
    top:167px;
    width:99px;
    height:20px;
    ;
    ;
    text-align: center;;
    font-family:'Verdana';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u41_original {
    background-image: url('../resources/images/transparent.gif');
}

.u41_container {
    position:absolute;
    left:551px;
    top:140px;
    width:180px;
    height:20px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:26px;
}

.u42 {
    position:absolute;
    left:2px;
    top:2px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:551px;
    top:140px;
    width:180px;
    height:20px
}

.u44 {
    position:absolute;
    left:60px;
    top:247px;
    width:370px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Verdana';
    font-size: 13px;
    color:#666666;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u45 {
    position:absolute;
    left:61px;
    top:277px;
    width:70px;
    height:22px;
    ;
    ;
    ;
    font-family:'Verdana';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u46 {
    position:absolute;
    left:141px;
    top:277px;
    width:90px;
    height:22px;
    ;
    ;
    ;
    font-family:'Verdana';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u47 {
    position:absolute;
    left:241px;
    top:278px;
    width:90px;
    height:22px;
    ;
    ;
    ;
    font-family:'Verdana';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u48 {
    position:absolute;
    left:438px;
    top:246px;
    width:65px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Verdana';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u49 {
    position:absolute;
    left:60px;
    top:230px;
    width:190px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:422px;
    top:230px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51 {
    position:absolute;
    left:593px;
    top:257px;
    width:99px;
    height:20px;
    ;
    ;
    text-align: center;;
    font-family:'Verdana';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u52_original {
    background-image: url('../resources/images/transparent.gif');
}

.u52_container {
    position:absolute;
    left:551px;
    top:230px;
    width:180px;
    height:20px;
}

#u52_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:26px;
}

.u53 {
    position:absolute;
    left:2px;
    top:2px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52 {
    position:absolute;
    left:551px;
    top:230px;
    width:180px;
    height:20px
}

.u56_original {
    background-image: url('../passo-3-dados-produtor_files/u56_original.png');
}

.u56_container {
    position:absolute;
    left:0px;
    top:0px;
    width:690px;
    height:290px;
}

#u56_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:696px;
    height:296px;
}

.u57 {
    position:absolute;
    left:2px;
    top:137px;
    width:686px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56 {
    position:absolute;
    left:0px;
    top:0px;
    width:690px;
    height:290px
}

.u58_original {
    background-image: url('../passo-3-dados-produtor_files/u3_original.png');
}

.u58_container {
    position:absolute;
    left:5px;
    top:40px;
    width:680px;
    height:86px;
}

#u58_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:686px;
    height:92px;
}

.u59 {
    position:absolute;
    left:2px;
    top:35px;
    width:676px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58 {
    position:absolute;
    left:5px;
    top:40px;
    width:680px;
    height:86px
}

.u60 {
    position:absolute;
    left:540px;
    top:106px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_original {
    background-image: url('../passo-3-dados-produtor_files/u10_original.png');
}

.u61_container {
    position:absolute;
    left:5px;
    top:130px;
    width:680px;
    height:86px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:686px;
    height:92px;
}

.u62 {
    position:absolute;
    left:2px;
    top:35px;
    width:676px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61 {
    position:absolute;
    left:5px;
    top:130px;
    width:680px;
    height:86px
}

.u63_text {
    position:absolute;
    left:540px;
    top:195px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63 {
    position:absolute;
    left:540px;
    top:195px;
    width:100px;
    height:16px
}

.u64_original {
    background-image: url('../passo-3-dados-produtor_files/u5_original.png');
}

.u64_container {
    position:absolute;
    left:600px;
    top:263px;
    width:70px;
    height:20px;
}

#u64_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:26px;
}

.u65 {
    position:absolute;
    left:2px;
    top:4px;
    width:66px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64 {
    position:absolute;
    left:600px;
    top:263px;
    width:70px;
    height:20px
}

.u66_original {
    background-image: url('../passo-3-dados-produtor_files/u5_original.png');
}

.u66_container {
    position:absolute;
    left:10px;
    top:263px;
    width:70px;
    height:20px;
}

#u66_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:26px;
}

.u67 {
    position:absolute;
    left:2px;
    top:4px;
    width:66px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66 {
    position:absolute;
    left:10px;
    top:263px;
    width:70px;
    height:20px
}

.u68_text {
    position:absolute;
    left:540px;
    top:104px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68 {
    position:absolute;
    left:540px;
    top:104px;
    width:100px;
    height:16px
}

.u69 {
    position:absolute;
    left:10px;
    top:10px;
    width:340px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70_line {
    background-image: url('../footer_files/u34_line.png');
}

.u70_line {
    position:absolute;
    left:0px;
    top:295px;
    width:690px;
    height:3px;
}

.u70 {
    position:absolute;
    left:0px;
    top:295px;
    width:690px;
    height:3px
}

.u71 {
    position:absolute;
    left:81px;
    top:315px;
    width:480px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73 {
    position:absolute;
    left:80px;
    top:237px;
    width:300px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74 {
    position:absolute;
    left:390px;
    top:238px;
    width:90px;
    height:15px;
    ;
    ;
    text-align: center;;
    font-family:'Verdana';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u75 {
    position:absolute;
    left:62px;
    top:67px;
    width:370px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Verdana';
    font-size: 13px;
    color:#666666;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u76 {
    position:absolute;
    left:63px;
    top:97px;
    width:70px;
    height:22px;
    ;
    ;
    ;
    font-family:'Verdana';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u77 {
    position:absolute;
    left:143px;
    top:97px;
    width:90px;
    height:22px;
    ;
    ;
    ;
    font-family:'Verdana';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u78 {
    position:absolute;
    left:243px;
    top:98px;
    width:90px;
    height:22px;
    ;
    ;
    ;
    font-family:'Verdana';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u79 {
    position:absolute;
    left:440px;
    top:66px;
    width:65px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Verdana';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u80 {
    position:absolute;
    left:62px;
    top:50px;
    width:190px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81 {
    position:absolute;
    left:424px;
    top:50px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82 {
    position:absolute;
    left:595px;
    top:77px;
    width:99px;
    height:20px;
    ;
    ;
    text-align: center;;
    font-family:'Verdana';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u83_original {
    background-image: url('../resources/images/transparent.gif');
}

.u83_container {
    position:absolute;
    left:553px;
    top:50px;
    width:180px;
    height:20px;
}

#u83_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:26px;
}

.u84 {
    position:absolute;
    left:2px;
    top:2px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83 {
    position:absolute;
    left:553px;
    top:50px;
    width:180px;
    height:20px
}

.u86 {
    position:absolute;
    left:60px;
    top:157px;
    width:370px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Verdana';
    font-size: 13px;
    color:#666666;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u87 {
    position:absolute;
    left:61px;
    top:187px;
    width:70px;
    height:22px;
    ;
    ;
    ;
    font-family:'Verdana';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u88 {
    position:absolute;
    left:141px;
    top:187px;
    width:90px;
    height:22px;
    ;
    ;
    ;
    font-family:'Verdana';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u89 {
    position:absolute;
    left:241px;
    top:188px;
    width:90px;
    height:22px;
    ;
    ;
    ;
    font-family:'Verdana';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u90 {
    position:absolute;
    left:438px;
    top:156px;
    width:65px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Verdana';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u91 {
    position:absolute;
    left:60px;
    top:140px;
    width:190px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92 {
    position:absolute;
    left:422px;
    top:140px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93 {
    position:absolute;
    left:593px;
    top:167px;
    width:99px;
    height:20px;
    ;
    ;
    text-align: center;;
    font-family:'Verdana';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u94_original {
    background-image: url('../resources/images/transparent.gif');
}

.u94_container {
    position:absolute;
    left:551px;
    top:140px;
    width:180px;
    height:20px;
}

#u94_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:26px;
}

.u95 {
    position:absolute;
    left:2px;
    top:2px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94 {
    position:absolute;
    left:551px;
    top:140px;
    width:180px;
    height:20px
}

.u98_original {
    background-image: url('../passo-3-dados-produtor_files/u98_original.png');
}

.u98_container {
    position:absolute;
    left:0px;
    top:0px;
    width:690px;
    height:190px;
}

#u98_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:696px;
    height:196px;
}

.u99 {
    position:absolute;
    left:2px;
    top:87px;
    width:686px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98 {
    position:absolute;
    left:0px;
    top:0px;
    width:690px;
    height:190px
}

.u100_original {
    background-image: url('../passo-3-dados-produtor_files/u3_original.png');
}

.u100_container {
    position:absolute;
    left:5px;
    top:40px;
    width:680px;
    height:86px;
}

#u100_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:686px;
    height:92px;
}

.u101 {
    position:absolute;
    left:2px;
    top:35px;
    width:676px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100 {
    position:absolute;
    left:5px;
    top:40px;
    width:680px;
    height:86px
}

.u102_original {
    background-image: url('../passo-3-dados-produtor_files/u5_original.png');
}

.u102_container {
    position:absolute;
    left:610px;
    top:163px;
    width:70px;
    height:20px;
}

#u102_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:26px;
}

.u103 {
    position:absolute;
    left:2px;
    top:4px;
    width:66px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u102 {
    position:absolute;
    left:610px;
    top:163px;
    width:70px;
    height:20px
}

.u104_original {
    background-image: url('../passo-3-dados-produtor_files/u5_original.png');
}

.u104_container {
    position:absolute;
    left:10px;
    top:163px;
    width:70px;
    height:20px;
}

#u104_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:26px;
}

.u105 {
    position:absolute;
    left:2px;
    top:4px;
    width:66px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u104 {
    position:absolute;
    left:10px;
    top:163px;
    width:70px;
    height:20px
}

.u106_text {
    position:absolute;
    left:540px;
    top:106px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u106 {
    position:absolute;
    left:540px;
    top:106px;
    width:100px;
    height:16px
}

.u107 {
    position:absolute;
    left:10px;
    top:10px;
    width:340px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u108_line {
    background-image: url('../footer_files/u34_line.png');
}

.u108_line {
    position:absolute;
    left:0px;
    top:201px;
    width:690px;
    height:3px;
}

.u108 {
    position:absolute;
    left:0px;
    top:201px;
    width:690px;
    height:3px
}

.u109 {
    position:absolute;
    left:81px;
    top:221px;
    width:480px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u111 {
    position:absolute;
    left:83px;
    top:140px;
    width:300px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u112 {
    position:absolute;
    left:393px;
    top:141px;
    width:90px;
    height:15px;
    ;
    ;
    text-align: center;;
    font-family:'Verdana';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u113 {
    position:absolute;
    left:60px;
    top:67px;
    width:370px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Verdana';
    font-size: 13px;
    color:#666666;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u114 {
    position:absolute;
    left:61px;
    top:97px;
    width:70px;
    height:22px;
    ;
    ;
    ;
    font-family:'Verdana';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u115 {
    position:absolute;
    left:141px;
    top:97px;
    width:90px;
    height:22px;
    ;
    ;
    ;
    font-family:'Verdana';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u116 {
    position:absolute;
    left:241px;
    top:98px;
    width:90px;
    height:22px;
    ;
    ;
    ;
    font-family:'Verdana';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u117 {
    position:absolute;
    left:438px;
    top:66px;
    width:65px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Verdana';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u118 {
    position:absolute;
    left:60px;
    top:50px;
    width:190px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u119 {
    position:absolute;
    left:422px;
    top:50px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u120 {
    position:absolute;
    left:593px;
    top:77px;
    width:99px;
    height:20px;
    ;
    ;
    text-align: center;;
    font-family:'Verdana';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u121_original {
    background-image: url('../resources/images/transparent.gif');
}

.u121_container {
    position:absolute;
    left:551px;
    top:50px;
    width:180px;
    height:20px;
}

#u121_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:26px;
}

.u122 {
    position:absolute;
    left:2px;
    top:2px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u121 {
    position:absolute;
    left:551px;
    top:50px;
    width:180px;
    height:20px
}

.u124 {
    position:absolute;
    left:10px;
    top:20px;
    width:342px;
    height:29px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u125 {
    position:absolute;
    left:368px;
    top:10px;
    width:93px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u126 {
    position:absolute;
    left:467px;
    top:10px;
    width:130px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u127 {
    position:absolute;
    left:674px;
    top:10px;
    width:30px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u128 {
    position:absolute;
    left:606px;
    top:10px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u129_line {
    background-image: url('../header-longa-bo_files/u25_line.png');
}

.u129_line {
    position:absolute;
    left:12px;
    top:84px;
    width:690px;
    height:3px;
}

.u129 {
    position:absolute;
    left:12px;
    top:84px;
    width:690px;
    height:3px
}

.u130 {
    position:absolute;
    left:90px;
    top:60px;
    width:540px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u132_line {
    background-image: url('../passo-3-dados-produtor_files/u132_line.png');
}

.u132_line {
    position:absolute;
    left:48px;
    top:95px;
    width:104px;
    height:5px;
}

.u132 {
    position:absolute;
    left:48px;
    top:95px;
    width:104px;
    height:5px
}

.u133_original {
    background-image: url('../passo-3-dados-produtor_files/u133_original.png');
}

.u133_container {
    position:absolute;
    left:17px;
    top:82px;
    width:30px;
    height:30px;
}

#u133_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u134 {
    position:absolute;
    left:2px;
    top:6px;
    width:26px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u133 {
    position:absolute;
    left:17px;
    top:82px;
    width:30px;
    height:30px
}

.u135_original {
    background-image: url('../passo-3-dados-produtor_files/u133_original.png');
}

.u135_container {
    position:absolute;
    left:152px;
    top:82px;
    width:30px;
    height:30px;
}

#u135_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u136 {
    position:absolute;
    left:2px;
    top:6px;
    width:26px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u135 {
    position:absolute;
    left:152px;
    top:82px;
    width:30px;
    height:30px
}

.u137_original {
    background-image: url('../passo-3-dados-produtor_files/u137_original.png');
}

.u137_container {
    position:absolute;
    left:287px;
    top:82px;
    width:30px;
    height:30px;
}

#u137_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u138 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u137 {
    position:absolute;
    left:287px;
    top:82px;
    width:30px;
    height:30px
}

.u139_original {
    background-image: url('../passo-3-dados-produtor_files/u133_original.png');
}

.u139_container {
    position:absolute;
    left:572px;
    top:81px;
    width:30px;
    height:30px;
}

#u139_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u140 {
    position:absolute;
    left:2px;
    top:6px;
    width:26px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u139 {
    position:absolute;
    left:572px;
    top:81px;
    width:30px;
    height:30px
}

.u141 {
    position:absolute;
    left:51px;
    top:82px;
    width:100px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u142 {
    position:absolute;
    left:323px;
    top:100px;
    width:94px;
    height:10px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u143 {
    position:absolute;
    left:186px;
    top:82px;
    width:100px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u144 {
    position:absolute;
    left:318px;
    top:81px;
    width:126px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u145 {
    position:absolute;
    left:609px;
    top:79px;
    width:81px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u146_line {
    background-image: url('../passo-3-dados-produtor_files/u146_line.png');
}

.u146_line {
    position:absolute;
    left:183px;
    top:95px;
    width:104px;
    height:5px;
}

.u146 {
    position:absolute;
    left:183px;
    top:95px;
    width:104px;
    height:5px
}

.u147_line {
    background-image: url('../passo-3-dados-produtor_files/u147_line.png');
}

.u147_line {
    position:absolute;
    left:317px;
    top:95px;
    width:120px;
    height:5px;
}

.u147 {
    position:absolute;
    left:317px;
    top:95px;
    width:120px;
    height:5px
}

.u148_line {
    background-image: url('../passo-3-dados-produtor_files/u148_line.png');
}

.u148_line {
    position:absolute;
    left:602px;
    top:94px;
    width:95px;
    height:5px;
}

.u148 {
    position:absolute;
    left:602px;
    top:94px;
    width:95px;
    height:5px
}

.u149_original {
    background-image: url('../passo-3-dados-produtor_files/u133_original.png');
}

.u149_container {
    position:absolute;
    left:438px;
    top:81px;
    width:30px;
    height:30px;
}

#u149_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u150 {
    position:absolute;
    left:2px;
    top:6px;
    width:26px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u149 {
    position:absolute;
    left:438px;
    top:81px;
    width:30px;
    height:30px
}

.u151 {
    position:absolute;
    left:472px;
    top:80px;
    width:100px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u152_line {
    background-image: url('../passo-3-dados-produtor_files/u152_line.png');
}

.u152_line {
    position:absolute;
    left:468px;
    top:94px;
    width:104px;
    height:5px;
}

.u152 {
    position:absolute;
    left:468px;
    top:94px;
    width:104px;
    height:5px
}

