* html .u1_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="passo-1-dados-projeto-pj_files/u1_original.png");
}

* html .u3_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="passo-1-dados-projeto-pj_files/u3_original.png");
}

* html .u6_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="passo-1-dados-projeto-pj_files/u1_original.png");
}

* html .u8_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="passo-1-dados-projeto-pj_files/u3_original.png");
}

* html .u10_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="passo-1-dados-projeto-pj_files/u10_original.png");
}

* html .u21_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header-longa-bo_files/u25_line.png");
}

* html .u24_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="footer_files/u34_line.png");
}

* html .u27_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="passo-1-dados-projeto-pj_files/u27_line.png");
}

* html .u28_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="passo-1-dados-projeto-pj_files/u28_original.png");
}

* html .u30_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="passo-1-dados-projeto-pj_files/u30_original.png");
}

* html .u35_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="passo-1-dados-projeto-pj_files/u35_line.png");
}

* html .u38_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="passo-1-dados-projeto-pj_files/u38_original.png");
}

* html .u40_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="passo-1-dados-projeto-pj_files/u40_original.png");
}

* html .u46_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="passo-1-dados-projeto-pj_files/u46_original.png");
}

* html .u48_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="passo-1-dados-projeto-pj_files/u48_original.png");
}

* html .u54_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="passo-1-dados-projeto-pj_files/u54_original.png");
}

* html .u57_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="passo-1-dados-projeto-pj_files/u57_original.png");
}

* html .u59_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="passo-1-dados-projeto-pj_files/u59_original.png");
}

* html .u71_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="passo-1-dados-projeto-pj_files/u54_original.png");
}

* html .u79_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="passo-1-dados-projeto-pj_files/u79_original.png");
}

* html .u81_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="passo-1-dados-projeto-pj_files/u81_original.png");
}

* html .u83_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="passo-1-dados-projeto-pj_files/u30_original.png");
}

* html .u85_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="passo-1-dados-projeto-pj_files/u30_original.png");
}

* html .u89_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="passo-1-dados-projeto-pj_files/u89_line.png");
}

* html .u90_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="passo-1-dados-projeto-pj_files/u90_line.png");
}

* html .u91_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="passo-1-dados-projeto-pj_files/u30_original.png");
}

* html .u94_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="passo-1-dados-projeto-pj_files/u94_line.png");
}

* html .u105_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="passo-1-dados-projeto-pj_files/u105_original.png");
}

