* html .u1_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="passo-3-portfolio-empresa_files/u1_original.png");
}

* html .u3_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="passo-3-portfolio-empresa_files/u3_original.png");
}

* html .u5_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="passo-3-portfolio-empresa_files/u5_original.png");
}

* html .u7_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="passo-3-portfolio-empresa_files/u5_original.png");
}

* html .u10_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="passo-3-portfolio-empresa_files/u10_original.png");
}

* html .u12_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="passo-3-portfolio-empresa_files/u3_original.png");
}

* html .u16_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="footer_files/u34_line.png");
}

* html .u52_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="passo-3-portfolio-empresa_files/u52_original.png");
}

* html .u54_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="passo-3-portfolio-empresa_files/u54_original.png");
}

* html .u57_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="passo-3-portfolio-empresa_files/u57_original.png");
}

* html .u59_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="passo-3-portfolio-empresa_files/u3_original.png");
}

* html .u62_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="passo-3-portfolio-empresa_files/u10_original.png");
}

* html .u65_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="passo-3-portfolio-empresa_files/u5_original.png");
}

* html .u67_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="passo-3-portfolio-empresa_files/u5_original.png");
}

* html .u70_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="footer_files/u34_line.png");
}

* html .u95_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="passo-3-portfolio-empresa_files/u52_original.png");
}

* html .u97_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="passo-3-portfolio-empresa_files/u54_original.png");
}

* html .u100_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="passo-3-portfolio-empresa_files/u100_original.png");
}

* html .u102_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="passo-3-portfolio-empresa_files/u3_original.png");
}

* html .u104_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="passo-3-portfolio-empresa_files/u5_original.png");
}

* html .u106_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="passo-3-portfolio-empresa_files/u5_original.png");
}

* html .u109_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="footer_files/u34_line.png");
}

* html .u123_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="passo-3-portfolio-empresa_files/u52_original.png");
}

* html .u125_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="passo-3-portfolio-empresa_files/u54_original.png");
}

* html .u132_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header-longa-bo_files/u25_line.png");
}

* html .u135_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="passo-3-portfolio-empresa_files/u135_line.png");
}

* html .u136_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="passo-3-portfolio-empresa_files/u136_original.png");
}

* html .u138_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="passo-3-portfolio-empresa_files/u136_original.png");
}

* html .u140_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="passo-3-portfolio-empresa_files/u140_original.png");
}

* html .u142_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="passo-3-portfolio-empresa_files/u136_original.png");
}

* html .u149_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="passo-3-portfolio-empresa_files/u149_line.png");
}

* html .u150_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="passo-3-portfolio-empresa_files/u150_line.png");
}

* html .u151_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="passo-3-portfolio-empresa_files/u151_line.png");
}

* html .u152_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="passo-3-portfolio-empresa_files/u136_original.png");
}

* html .u155_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="passo-3-portfolio-empresa_files/u155_line.png");
}

