* html .u0_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="passo-4-orcamento_files/u0_original.png");
}

* html .u2_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="passo-4-orcamento_files/u2_original.png");
}

* html .u4_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="passo-4-orcamento_files/u4_original.png");
}

* html .u30_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="passo-4-orcamento_files/u30_line.png");
}

* html .u31_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="passo-4-orcamento_files/u31_original.png");
}

* html .u33_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="passo-4-orcamento_files/u4_original.png");
}

* html .u35_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="passo-4-orcamento_files/u4_original.png");
}

* html .u37_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="passo-4-orcamento_files/u37_line.png");
}

* html .u38_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="passo-4-orcamento_files/u4_original.png");
}

* html .u84_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="passo-4-orcamento_files/u84_original.png");
}

* html .u86_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="passo-4-orcamento_files/u86_original.png");
}

* html .u91_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="passo-4-orcamento_files/u91_line.png");
}

* html .u92_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="passo-4-orcamento_files/u92_line.png");
}

* html .u95_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="footer_files/u34_line.png");
}

* html .u180_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="passo-4-orcamento_files/u180_line.png");
}

* html .u181_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="passo-4-orcamento_files/u86_original.png");
}

* html .u183_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="passo-4-orcamento_files/u86_original.png");
}

* html .u185_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="passo-4-orcamento_files/u86_original.png");
}

* html .u190_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="passo-4-orcamento_files/u190_line.png");
}

* html .u191_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="passo-4-orcamento_files/u191_line.png");
}

* html .u192_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="passo-4-orcamento_files/u192_original.png");
}

* html .u194_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="passo-4-orcamento_files/u194_original.png");
}

* html .u196_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="passo-4-orcamento_files/u196_original.png");
}

* html .u198_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="passo-4-orcamento_files/u196_original.png");
}

* html .u200_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="passo-4-orcamento_files/u200_original.png");
}

* html .u202_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="passo-4-orcamento_files/u202_original.png");
}

* html .u272_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="passo-4-orcamento_files/u272_line.png");
}

* html .u273_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="passo-4-orcamento_files/u273_original.png");
}

* html .u279_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="passo-4-orcamento_files/u202_original.png");
}

* html .u282_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="passo-4-orcamento_files/u282_line.png");
}

* html .u283_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="passo-4-orcamento_files/u4_original.png");
}

* html .u285_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="passo-4-orcamento_files/u4_original.png");
}

* html .u287_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="passo-4-orcamento_files/u287_line.png");
}

* html .u288_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="passo-4-orcamento_files/u4_original.png");
}

* html .u362_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="passo-4-orcamento_files/u362_line.png");
}

* html .u363_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="passo-4-orcamento_files/u273_original.png");
}

* html .u369_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="passo-4-orcamento_files/u369_line.png");
}

* html .u370_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="passo-4-orcamento_files/u4_original.png");
}

* html .u396_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="passo-4-orcamento_files/u396_line.png");
}

* html .u397_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="passo-4-orcamento_files/u4_original.png");
}

* html .u423_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="passo-4-orcamento_files/u423_line.png");
}

* html .u424_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="passo-4-orcamento_files/u202_original.png");
}

* html .u427_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="passo-4-orcamento_files/u4_original.png");
}

* html .u429_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="passo-4-orcamento_files/u4_original.png");
}

* html .u431_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="passo-4-orcamento_files/u431_line.png");
}

* html .u432_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="passo-4-orcamento_files/u4_original.png");
}

* html .u506_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="passo-4-orcamento_files/u506_line.png");
}

* html .u507_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="passo-4-orcamento_files/u273_original.png");
}

* html .u513_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="passo-4-orcamento_files/u513_line.png");
}

* html .u514_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="passo-4-orcamento_files/u4_original.png");
}

* html .u540_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="passo-4-orcamento_files/u540_line.png");
}

* html .u541_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="passo-4-orcamento_files/u202_original.png");
}

* html .u550_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="passo-4-orcamento_files/u550_original.png");
}

* html .u552_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="passo-4-orcamento_files/u202_original.png");
}

* html .u554_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="passo-4-orcamento_files/u554_original.png");
}

* html .u556_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="passo-4-orcamento_files/u554_original.png");
}

* html .u566_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="header-curta-metragem_files/u88_line.png");
}

